{% extends 'base.html' %}
{% load static %}
{% block title %}{{ lesson.title }}{% endblock %}
{% block content %}

<div class="container my-2">
    <a href="{% url 'view_course_teacher' course.courseId %}" class="text-decoration-none text-secondary">&larr; Назад до курсу</a>
</div>

<div class="container my-4 mt-0 rounded border p-0">
    <div class="bg-{{ course.color }} text-light p-4 rounded-top">
        <h2 class="mb-0">{{ lesson.title }}</h2>
    </div>
    {% if user.is_staff %}
        <div class="border-bottom px-4 py-2">
            <a href="{% url 'edit_lesson' course.courseId lesson.id %}" class="btn btn-secondary px-4">Редагувати урок</a>
            <a href="{% url 'delete_lesson' course.courseId lesson.id %}" onclick="return confirmMsg('Ви точно бажаєте видалити урок?')" class="btn btn-danger px-4">Видалити урок</a>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-8 pe-0">
            <div class="border-end">
                <div class="p-4 border-bottom">
                    <h4>
                        {% if lesson.type == 'practice' %}
                        Практичне завдання
                        {% else %}
                        Лекція
                        {% endif %}
                    </h4>
                    <p class="mb-2">{{ lesson.content }}</p>
                    <p class="mb-0">
                        <span class="fw-bold">Додаткове посилання: </span>
                        {% if lesson.link %}
                        <a href="{{ lesson.link }}" target="_blank">{{ lesson.link }}</a>
                        {% else %}
                        Додаткове посилання відсутнє
                        {% endif %}
                    </p>
                </div>
                <div class="p-4">
                    {% if assignment %}
                    <h4>Завдання</h4>
                    <p class="h5">{{ assignment.title }}</p class="h5">
                    <p class="mb-2"><span class="fw-bold">Дата здачі:</span> {{ assignment.due_date|date:"d E Y" }}</p>
                    <p class="mb-2">{{ assignment.desc }}</p>
                    {% if user.is_staff %}
                    <div>
                        <a href="{% url 'edit_assignment' course.courseId lesson.id %}" class="btn btn-secondary px-4">Редагувати завдання</a>
                        <a href="{% url 'delete_assignment' course.courseId lesson.id %}" onclick="return confirmMsg('Ви точно бажаєте видалити завдання?')" class="btn btn-danger px-4">Видалити завдання</a>
                    </div>
                    {% endif %}
                    {% else %}
                    <h4>Завдання</h4>
                        {% if user.is_staff %}
                        <a href="{% url 'create_assignment' course.courseId lesson.id %}" class="btn btn-aquagreen px-4">Додати завдання</a>
                        {% else %}
                        <p class="mb-0">До цього уроку немає завдання</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4 p-4 ps-3">
            {% if assignment %}
                {% if user.is_staff %}
                <div>
                    <a href="{% url 'submission_list' course.courseId lesson.id %}" class="btn btn-{{ course.color }} w-100 text-center text-light">Переглянути завдання студентів</a>
                </div>
                {% else %}
                    <form method="post" action="{% url 'submit' course.courseId lesson.id %}">
                        {% csrf_token %}
                        <h4>Моя робота</h4>
                        <p class="mb-2">
                            {% if submission %}
                                <span class="">Оцінка: </span>
                                {% if submission.grade == 0 %}
                                Без оцінки
                                {% else %}
                                {{ submission.grade }} / 100
                                {% endif %}
                            {% endif %}
                        </p>

                        <label for="file_url" class="form-label">Посилання на файл:</label>
                        <input type="text" class="form-control mb-2" id="file_url" name="file_url" value="{{ submission.file_url }}">

                        {% if submission.file_url %}
                        <button type="submit" class="btn btn-{{ course.color }} w-100 text-light mb-2">Здати повторно</button>
                        <a href="{% url 'delete_submission' course.courseId lesson.id %}" onclick="return confirmMsg('Ви точно бажаєте видалити завдання?')" class="btn btn-danger w-100 text-light">Видалити</a>
                        {% else %}
                        <button type="submit" class="btn btn-{{ course.color }} w-100 text-light">Прикріпити</button>
                        {% endif %}
                    </form>
                {% endif %}
            {% else %}
                <h4 class="text-center">До цього уроку намає завдання</h4>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}