{% extends 'base.html' %}
{% load static %}
{% block title %}Курси{% endblock %}
{% block content %}

<div class="container py-4">
    <div class="col-12 border rounded p-4">
        {% if courses.count > 0 %}
            <h2 class="text-center mb-4">Мої курси</h2>
            <div class="row">
                {% for course in courses %}
                <div class="col-md-3 p-2">
                    <div class="rounded border">
                        <div class="p-3 rounded-top bg-{{ course.color }}" style="height: 148px;">
                            <a href="/" class="text-decoration-none"><h4 class="text-light mb-0">{{ course.title }}</h4></a>
                        </div>
                        <div class="p-3" style="height: 148px;">
                            <p>{{ course.desc }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        {% else %}
            <div class="d-flex flex-column align-items-center justify-content-center">
                <h4 class="text-center mb-4">Жодних курсів не знайдено</h4>
                <a href="/teacher/create_course/" class="btn btn-aquagreen text-center px-4 mx-auto rounded">Створити курс</a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}