{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>LearnX</title>
    <style>
        .nav-link.dropdown-toggle::after {
            filter: brightness(0) invert(1);
        }
    </style>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-md bg-light shadow-sm sticky-top py-3">
        <div class="container">
            <!-- Лівий блок з логотипом -->
            <div class="d-flex align-items-center">
                <a href="#"><img src="{% static 'img/logo.png' %}" alt="Logo" style="max-width: 36px;"></a>
                <a class="h3 text-decoration-none text-dark mb-0 ms-2" href="#">LearnX</a>
            </div>
    
            <!-- Кнопка для мобільного меню -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Центр та правий блок -->
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <!-- Центр: меню -->
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item mx-2">
                        <a class="nav-link text-aquagreen fw-bold" href="#">Головна</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Курси</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">Завдання</a>
                    </li>
                </ul>
    
                <!-- Правий блок з кнопками -->
                <ul class="navbar-nav d-flex">
                    <a href="#" class="btn nav-item nav-link align-items-center d-flex me-2 bg-aquagreen justify-content-around rounded-pill" style="width: 36px; height: 36px;">
                        <img src="{% static 'img/plus.png' %}" alt="" style="max-width: 22px;">
                    </a>

                    <div class="nav-item dropdown dropdown-menu-end">
                        <a class="nav-link dropdown-toggle bg-cyan align-items-center d-flex px-3 rounded-pill" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" style="height: 36px;">
                            <img src="{% static 'img/user.png' %}" alt="" style="max-width: 22px;">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-light">
              
                            <li><a class="dropdown-item" href="/account/login/">Увійти</a></li>
                            <li><a class="dropdown-item" href="/account/register/">Реєстрація</a></li>
              
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <div class="toast-container position-fixed top-2 end-0 p-3" style="z-index: 1100;">
        {% for message in messages %}
        <div class="toast align-items-center 
          {% if message.tags == 'success' %}
            bg-success
          {% elif message.tags == 'error' %}
            bg-danger
          {% elif message.tags == 'warning' %}
            bg-warning
          {% else %}
            bg-info
          {% endif %}
          text-white border-0 fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                {{ message }}
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        {% endfor %}
      </div>

    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>