{% extends 'base.html' %}
{% load static %}
{% block title %}Зміна паролю{% endblock %}
{% block content %}

<div class="container py-4">
    <div class="col-md-4 mx-auto rounded border p-3">
        <form method="post">
            {% csrf_token %}

            <h3 class="mb-3 text-center">Зміна пароля</h3>

            <div class="mb-3">
                <label for="old_password" class="form-label">Старий пароль:</label>
                <input type="password" name="old_password" id="old_password" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="new_password" class="form-label">Новий пароль:</label>
                <input type="password" name="new_password" id="new_password" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="confirm_password" class="form-label">Підтвердити новий пароль:</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-aquagreen rounded text-light text-center w-100">Змінити пароль</button>
        </form>
    </div>
</div>
{% endblock %}