{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container py-4">
    <div class="col-md-4 mx-auto rounded border p-3">

        <form method="post">
            {% csrf_token %}

            <h3 class="mb-3 text-center">Вхід</h3>

            <div class="mb-3">
                <label for="login" class="form-label">Логін</label>
                <input type="text" name="login" class="form-control" value="{{ login }}">
            </div>
            
            <div class="mb-3">
                <label for="pass" class="form-label">Пароль</label>
                <input type="text" name="pass" class="form-control">
                {% if pass_err %}
                <p class="text-danger">{{ pass_err }}</p>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-aquagreen rounded text-light text-center w-100">Увійти</button>
        </form>
        
        <p class="text-center mt-3 mb-1">Не маєте акаунту? <a href="/account/register/" class="text-aquagreen">Зареєструватись</a></p>

    </div>
</div>

{% endblock %}